.preview {
  width: 21cm;
  height: 29.7cm;
  overflow: hidden;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  padding: 0;
  border-radius: 0;
}

.preview:not(.horizontal) {
  grid-template-rows: minmax(100px, auto) 1fr;
}

.preview.horizontal {
  grid-template-columns: 45% 1fr;
}

.preview.horizontal.right{
    grid-template-columns: 1fr 45%;
}

.preview.horizontal.right > *:first-child{
    order: 2;
}

.section{
  padding: 0 60px;
  margin: 40px auto;
}
.section.horizontal {
  padding: 0 30px;
}